.taskone img{
	width: 159px;
	height: 192px;
	margin: 10px 20px;
}
.taskone{
	width: 820px;
	height: 440px;
	background-color: rgb(190,190,190);
	border-width: 1px;
	border-style: solid;
}

.tasktwo{
	margin-top: 100px;
	width: 410px;
	height: 450px;
}

.navi{
	display: flex;
}

.selects{
	width: 100px;
	height: 50px;
	border-width: 1px;
	border-style: solid;
}

.message{
	width: 320px;
	height: 390px;
	border-width: 1px;
	border-style: solid;
}

.tasktwo img{
	margin-top: 5px;
	width: 318px;
	height: 384px;
}

.selcts{
	text-align: center;
}

.selects span{
	font-size: 30px;
	position: relative;
	top: 5px;
	left: 20px;
}

.style1 {
	margin: 0;
	position: absolute;
	top: 29px;
	left: 252px;
	width: 318px;
	height: 384px;
}

.taskthree{
	margin-top: 100px;
	width: 840px;
	height: 400px;
	border-style: solid;
	border-width: 1px;
}
.line{
	margin-top: 10px;
	margin-left: 10px;
	width: 800px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	justify-content: space-between;
}

.num{
	margin: 0;
	width: 40px;
	height: 40px;
	border-right: solid 1px black; 
}

.del{
	width: 80px;
	height: 40px;
	border-left: solid 1px black;
}

.line span{
	  position: relative;
	  top: 8px;
	  left: 10px;
	  font-size: 20px;
}

.addbtn{
	width: 50px;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-size: 15px;
	text-align: center;
	color: rgb(255,255,255);
	background-color: rgb(51,153,102);
	position: absolute;
	top: 1460px;
	left: 750px;
}